In [2]:
import pandas as pd
from numpy import set_printoptions
from sklearn.preprocessing import MinMaxScaler

In [6]:
df = pd.read_csv('C:\\Users\\kkdk0001\\Desktop\\DA\\DS\\Project 1 (P162) - Teli Churn\\telecommunications_churn.csv')

In [8]:
df.head(2)

,account_length,voice_mail_plan,voice_mail_messages,day_mins,evening_mins,night_mins,international_mins,customer_service_calls,international_plan,day_calls,day_charge,evening_calls,evening_charge,night_calls,night_charge,international_calls,international_charge,total_charge,churn
0,128,1,25,265.1,197.4,244.7,10.0,1,0,110,45.07,99,16.78,91,11.01,3,2.7,75.56,0
1,107,1,26,161.6,195.5,254.4,13.7,1,0,123,27.47,103,16.62,103,11.45,3,3.7,59.24,0

In [10]:
array = df.values

In [11]:
array

array([[128.  ,   1.  ,  25.  , ...,   2.7 ,  75.56,   0.  ],
       [107.  ,   1.  ,  26.  , ...,   3.7 ,  59.24,   0.  ],
       [137.  ,   0.  ,   0.  , ...,   3.29,  62.29,   0.  ],
       ...,
       [ 28.  ,   0.  ,   0.  , ...,   3.81,  67.74,   0.  ],
       [184.  ,   0.  ,   0.  , ...,   1.35,  57.53,   0.  ],
       [ 74.  ,   1.  ,  25.  , ...,   3.7 ,  77.01,   0.  ]])

In [12]:
scaler = MinMaxScaler (feature_range =(0,1))
# output values should be in the range of 0 to 1

In [14]:
rescaler_Data = scaler.fit_transform(array)

In [16]:
rescaler_Data

array([[0.52479339, 1.        , 0.49019608, ..., 0.5       , 0.71879268,
        0.        ],
       [0.43801653, 1.        , 0.50980392, ..., 0.68518519, 0.49590276,
        0.        ],
       [0.56198347, 0.        , 0.        , ..., 0.60925926, 0.53755804,
        0.        ],
       ...,
       [0.11157025, 0.        , 0.        , ..., 0.70555556, 0.61199126,
        0.        ],
       [0.75619835, 0.        , 0.        , ..., 0.25      , 0.47254848,
        0.        ],
       [0.30165289, 1.        , 0.49019608, ..., 0.68518519, 0.73859601,
        0.        ]])

In [18]:
df.Scaled = pd.DataFrame(rescaler_Data)

C:\Users\kkdk0001\AppData\Local\Temp\ipykernel_10028\4149067115.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.Scaled = pd.DataFrame(rescaler_Data)

In [19]:
df.Scaled

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,0.524793,1.0,0.490196,0.755701,0.542755,0.595750,0.500,0.111111,0.0,0.666667,0.755701,0.582353,0.542866,0.408451,0.595935,0.15,0.500000,0.718793,0.0
1,0.438017,1.0,0.509804,0.460661,0.537531,0.621840,0.685,0.111111,0.0,0.745455,0.460597,0.605882,0.537690,0.492958,0.622236,0.15,0.685185,0.495903,0.0
2,0.561983,0.0,0.000000,0.693843,0.333242,0.374933,0.610,0.000000,0.0,0.690909,0.693830,0.647059,0.333225,0.500000,0.375374,0.25,0.609259,0.537558,0.0
3,0.342975,0.0,0.000000,0.853478,0.170195,0.467187,0.330,0.222222,1.0,0.430303,0.853454,0.517647,0.170171,0.394366,0.467424,0.35,0.329630,0.599153,0.0
4,0.305785,0.0,0.000000,0.475200,0.407754,0.440290,0.505,0.333333,1.0,0.684848,0.475184,0.717647,0.407959,0.619718,0.440526,0.15,0.505556,0.398252,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,0.789256,1.0,0.705882,0.445268,0.592521,0.688273,0.495,0.222222,0.0,0.466667,0.445171,0.741176,0.592688,0.352113,0.688583,0.30,0.494444,0.507648,0.0
3329,0.276860,0.0,0.000000,0.658780,0.421776,0.452125,0.480,0.333333,0.0,0.345455,0.658786,0.323529,0.421870,0.633803,0.452481,0.20,0.479630,0.554493,0.0
3330,0.111570,0.0,0.000000,0.515393,0.794061,0.453739,0.705,0.222222,0.0,0.660606,0.515426,0.341176,0.794241,0.408451,0.454274,0.30,0.705556,0.611991,0.0
3331,0.756198,0.0,0.000000,0.609464,0.438823,0.311996,0.250,0.222222,1.0,0.636364,0.609490,0.494118,0.439016,0.732394,0.312014,0.50,0.250000,0.472548,0.0
3332,0.301653,1.0,0.490196,0.668187,0.731097,0.586875,0.685,0.000000,0.0,0.684848,0.668176,0.482353,0.731155,0.309859,0.586970,0.20,0.685185,0.738596,0.0